<!DOCTYPE html>
<html>
  <head>
    <title>UserStories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav_bar'%>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
  <script>
    setTimeout(function() {
      document.getElementsByClassName("alert")[0].style.visibility = "hidden";
    }, 2000); 
</script>
</html>
